/target
.env
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
build
.idea/
test-ledger/
keys/**/*.*
!keys/localnet/scope.json
!keys/localnet/mock_oracles.json
!keys/localnet/owner.json
.vscode/
CLUSTER